@import "../styles/queries";

.top-header {
  height: 70px;
  border-bottom: 1px solid var(--light-grey);
  background-color: white;
  border-top-right-radius: 12px;
  border-top-right-radius: 12px;

  @include mobile {
    height: 50px;
    border: none;

    .divider,
    .nav-link {
      display: none;
    }
  }

  .nav {
    .flex {
      gap: 20px !important;
    }

    .toggle-menu {
      display: none;
      background-color: var(--light-blue);
      width: 40px;
      height: 40px;
      border-radius: 50%;

      .icon {
        width: 30px;
        height: 30px;
        display: grid;
        place-content: center;

        img {
          width: 100%;
        }
      }

      @include mobile {
        display: block;
      }
    }

    .link {
      font-size: 20px;
      font-weight: 600;
      color: var(--accent);
    }

    .active {
      .link {
        font-size: 14px;
        height: 70px;
        line-height: 70px;
        width: 116px;
        display: inline-block;
        color: var(--secondary);
        border-bottom: 3px solid var(--secondary);
      }
    }
  }

  .toggle-screen {
    img {
      width: 24px;
      height: 24px;
    }

    #laptop {
      display: none;
    }

    @include mobile {
      #laptop {
        display: block;
      }
      #mobile {
        display: none;
      }
    }
  }
}
