@import "../styles/queries";

.overview {
  display: grid;
  gap: 16px;

  @include mobile {
    // margin-bottom: auto;

    .stats {
      grid-template-columns: 1fr 1fr !important;
      grid-gap: 1px;
      margin-top: 14px;

      .card {
        border: 1px solid var(--accent) !important;
      }

      .total-assessments {
        border-top-left-radius: 12px;
      }

      .purpose {
        grid-area: 1/2;
        border-top-right-radius: 12px;
      }

      .candidates {
        grid-column: span 2;
      }

      .candidates-source {
        grid-column: span 2;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }

  .stats {
    grid-template-columns: 1fr 2fr 3fr 1fr;
    border: 1px solid var(--light-grey);
    border-radius: 12px !important;

    .card {
      // height: 114px;
      padding: 16px 20px;
      gap: 16px;

      &:not(:last-child) {
        border-right: 1px solid var(--light-grey);
      }

      &.candidates-source {
        .icon {
          background-color: var(--light-pink);
        }
      }

      &.purpose {
        padding-right: 50px;

        .icon {
          background-color: var(--light-blue);
        }
      }

      .f-left {
        gap: 20px;
      }

      .heading {
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
      }

      .context {
        gap: 5px;

        .text {
          font-size: 20px;
          font-weight: 700;
          white-space: nowrap;
        }

        p {
          font-size: 12px;
          white-space: nowrap;
        }

        .extra {
          color: var(--green);
          font-weight: 500;
          font-size: 12px;
        }
      }

      .icon {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background-color: var(--light-purple);

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }
    }
  }
}
