@import "../styles/queries";

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  height: 100vh;
  width: 140px;
  padding: 16px 20px;

  .container {
    height: 361px;
    width: 90px;
    margin: 0 auto;

    &.flex {
      flex-direction: column;
      gap: 16px !important;
    }

    .side-header {
      margin-top: 40px;
      margin-bottom: 10px;
      width: 275px;

      legend {
        font-size: 20px;
      }

      .icon {
        img {
          width: 20px;
          height: 20px;
          transform: rotate(45deg);
        }
      }
    }

    .link {
      width: 90px;
      height: 70px;
      padding: 10px 20px;

      &.flex {
        justify-content: center;
        flex-direction: column;
        gap: 6px;
      }

      &.active {
        background-color: var(--light-blue);
        border: 1px solid var(--secondary);
        border-radius: 8px;

        .label {
          color: var(--secondary);
        }
      }

      .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
      }

      .label {
        font-size: 12px;
        white-space: nowrap;
      }
    }

    .side-nav-bottom {
      .link {
        height: 120px;
        gap: 6px;
        padding: 10px 20px;
      }

      .admin {
        height: 104px !important;
        padding: 0 !important;

        .btn-pill {
          margin-bottom: 4px;
        }
      }

      .dash {
        border-top: 1px dashed var(--light-grey);
      }
    }
  }

  @include mobile {
    background-color: var(--lightest-blue);
    width: 315px;

    .side-header {
      display: flex !important;
    }

    .link {
      width: 275px !important;
      flex-direction: row !important;
      justify-content: flex-start !important;

      .label {
        font-size: 14px !important;
        white-space: nowrap !important;
        font-weight: 500 !important;
      }
    }

    .dash {
      border-top: 1px dashed var(--primary) !important;
    }

    .admin {
      .btn-pill {
        order: 1;
        margin-left: auto;
      }
    }
  }
}
